@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="row align-items-center h-100">
    <div class="col-12 col-md-6 col-lg-5 ms-lg-3 order-last order-md-first tech hidden" id="hidden">
        <div class="row ms-2 me-1 ms-lg-5">
            <h1 class="heroTitle mt-lg-2 me-5 me-lg-0 mb-2 me-lg-0 text-center text-md-start">
                Connect like a <span class="texthighlight">Pro</span>!
            </h1>
            <div class="subtitle me-4 mt-lg-0">
                <hr class="hr-blue hidden-on-desktop" />
                <p class="me-3 me-md-0">
                    Create contacts and groups, add notes, and email everyone all in one place. Experience
                    the power of ConnectPro, try it today!<br /><br />
                </p>
            </div>
            <div class="order-last me-lg-5">
                <div class="me-lg-5 pe-lg-5">
                    <strong>Built with pride using<span class="hidden-on-mobile"> cutting edge tech</span>:</strong>
                    <br />
                    <div class="d-flex justify-content-between mt-1 me-2 mt-lg-2 me-lg-5 pe-lg-5">
                        <i class="devicon-dot-net-plain-wordmark colored icon me-1"></i>
                        <i class="devicon-csharp-plain-wordmark colored icon me-1"></i>
                        <i class="devicon-postgresql-plain-wordmark colored icon me-1"></i>
                        <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
                    </div>
                </div>
            </div>
            <div class="text-start mt-lg-1 order-md-last mb-5 mb-md-0 tech hidden-from-right">
                <a class="btn btn-lg btn-primary w-100 mb-1 mb-lg-0 w-lg-0 mt-0 mt-lg-4" asp-area="" asp-controller="Contacts" asp-action="Index">
                    <strong>
                        CHECK OUT THE NEW DEMO!
                    </strong>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 text-center ms-0 mt-5 mt-md-0 ms-lg-5 order-last order-md-0">
        <img src="~/img/ConnectPro3Cropped.png" class="img-fluid" width="710" />
    </div>
    @* <div class="col-12 col-md-6 col-lg-6 text-center ms-0 ms-lg-5">
    <img src="~/img/ConnectProCropped3.png" class="img-fluid hidden-on-desktop" />
    </div>*@
    <div class="col-lg-3"></div>
</div>

<script>
    const observer5 = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                entry.target.classList.add('show');
                return;
            }
        });
    });
    const hiddenElements = document.querySelectorAll('.hidden');
    hiddenElements.forEach((el) => observer5.observe(el));

    const hiddenElementsBottom = document.querySelectorAll('.hidden-from-right');
    hiddenElementsBottom.forEach((el) => observer5.observe(el));
</script>