@{
    ViewData["Title"] = "Home Page";
}

<div class="row align-items-center h-100">
    <div class="col-12 col-md-6 col-lg-5 order-last order-md-first">
        <div class="ms-5">
            <h1 class="heroTitle">
                Keep <span class="texthighlight">connected</span> and stay organized!
            </h1>
            <div class="subtitle me-2">
                Organize your events by connecting with your most important people. Experience
                the power of ConnectPro- try it today!<br /><br /><strong>Built with pride using cutting edge tech:</strong>
                <br /><i class="devicon-dot-net-plain-wordmark colored icon"></i>
                <i class="devicon-csharp-plain-wordmark colored icon"></i>
                <i class="devicon-postgresql-plain-wordmark colored icon"></i>
                <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
                <i class="devicon-heroku-plain-wordmark colored icon"></i>
            </div>
            <div class="text-start">
                <a class="btn btn-lg btn-primary rounded-pill w-25 mt-3">DEMO</a>
            </div>
        </div>
    </div>
    <div class="col-9 col-md-6 col-lg-6 text-center ms-5">
        <img src="~/img/ConnectPro3Cropped.png" class="img-fluid" />
    </div>
    <div class="col-3"></div>
</div>