@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="row align-items-center h-100">
    <div class="col-12 col-md-6 col-lg-5 ms-lg-3 order-last order-md-first">
        <div class="row ms-4 ms-lg-5">
            <h1 class="heroTitle mt-lg-3 me-5 me-lg-0 mb-2 me-lg-0">
                Connect like a <span class="texthighlight">Pro</span>!
            </h1>
            <div class="subtitle me-4 mt-lg-0">
                <hr class="hr-blue hidden-on-desktop" />
                <p class="me-3 me-md-0">
                    Create contacts and groups, add notes, and email everyone all in one place. Experience
                    the power of ConnectPro, try it today!<br /><br />
                </p>
            </div>
            <div class="order-last mt-1">
                <strong>Built with pride using<span class="hidden-on-mobile"> cutting edge tech</span>:</strong>
                <br />
                <div class="d-flex justify-content-between me-4 pe-1 mt-lg-2 me-lg-5 pe-lg-5">
                    <i class="devicon-dot-net-plain-wordmark colored icon me-1"></i>
                    <i class="devicon-csharp-plain-wordmark colored icon me-1"></i>
                    <i class="devicon-postgresql-plain-wordmark colored icon me-1"></i>
                    <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
                </div>
            </div>
            <div class="text-start mt-0 mt-lg-1 order-md-last mb-5 mb-md-0">
                <a class="btn btn-lg btn-primary rounded-pill w-30 mt-0 mt-lg-4" asp-area="" asp-controller="Contacts" asp-action="Index">
                    <strong>
                        TRY THE DEMO!
                    </strong>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 text-center ms-0 mt-5 mt-md-0 ms-lg-5 order-last order-md-0">
        <img src="~/img/ConnectPro3Cropped.png" class="img-fluid" width="710" />
    </div>
    @* <div class="col-12 col-md-6 col-lg-6 text-center ms-0 ms-lg-5">
    <img src="~/img/ConnectProCropped3.png" class="img-fluid hidden-on-desktop" />
    </div>*@
    <div class="col-lg-3"></div>
</div>